<section class="sec-2">
  <p class="title">AtoriE</p>
  <p>
    AtoriEにようこそ。<br />
    ここは、冬隣あとりが描いた作品たちの、作品展。<br />
    <br />
    どうぞご自由にご覧ください。
  </p>
</section>

<style>
  .sec-2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
</style>
