---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../top/HeroSection.astro";
import IntroductionSection from "../top/IntroductionSection.astro";
import GallerySection from "../top/GallerySection.astro";
import AboutSection from "../top/AboutSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="AtoriE">
  <main>
    <HeroSection logoSrc="/AtoriE.png" backgroundImage="https://dmtuxgiexdvcwwqqkexx.supabase.co/storage/v1/object/public/Fuyudonari/fuyu_aki.png"/>
		<IntroductionSection />
    <GallerySection />
    <AboutSection />
		<Footer />
  </main>
</Layout>
<style>
  main {
    section {
      position: relative;
      height: 100vh;
      width: 100vw;
      background-color: #fff;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
	}
</style>

