---
import Header from "@components/Header.astro";
import SmoothScroll from "@components/SmoothScroll.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <script>
      // ページがロードされたらクラスを追加
      window.addEventListener("DOMContentLoaded", () => {
        document.body.classList.add("loaded");
      });
    </script>
    <SmoothScroll>
      <slot />
    </SmoothScroll>
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: #333; */
  }
  html {
    font-family: "Yu Mincho", "Hiragino Mincho Pro", "MS PMincho", "MS Mincho",
      serif;
    /* background: #13151a; */
  }
  code {
    font-family: "Yu Mincho", "Hiragino Mincho Pro", "MS PMincho", "MS Mincho",
      serif;
  }
  header, header *{
    opacity: 1 !important; /* 常に表示状態 */
    transition: none !important; /* トランジション効果を無効化 */
  }
  /* ページの初期状態を非表示に */
  main {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  /* ページ読み込み後、表示する */
  body.loaded main {
  opacity: 1;
}
</style>
